@use "../abstracts/variables" as va;

@mixin breakpoint($bp) {
  @if $bp == tablet {
    @media (min-width: va.$bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: va.$bp-tablethorizontal) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: va.$bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: va.$bp-desktopxl) {
      @content;
    }
  }
}
