$bp-tablet: 768px;
$bp-tablethorizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktopxl: 1440px;

$font-titles: "Big Shoulders", sans-serif;
$font-content: "Outfit", sans-serif;

$brown: #d5966c;
$black: #151515;
$grey: #444444;
$white: #ffffff;
$grey-light: #e5e6e8;
